// CSS for Front Page Hero ACF field
// ideas from: https://set.studio/some-simple-ways-to-make-content-look-good/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

#full-width-page-wrapper {
	padding: 0;
}

#frontpage-hero-img {
    object-fit: cover; 
    object-position: right; 
    width: 100%;
    min-height: 400px;
    padding: 0;
    // margin-bottom: 1rem;
    overflow: hidden;
}


@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


@media screen {
    @media (min-width: 1px) { // xs
        h1 {
            font-size: 1.5rem;
        }
        @media (min-width: 576px) { //sm
        h1 {
            font-size: 2rem;
        }
        
    }
}
}




#hero-content {
    font-size: 1.2rem;
}