section.card {
    // before css
    border: red solid 2px;

    opacity: 0.3;
    transform: translateY(20px);
    transition: all ease 1s;
}

section.card.visible {
        // after css
        border: green solid 2px;

        opacity: 1;
        transform: translateY(0px);

    }
